<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="traintimetable_dbEntities" connectionString="metadata=res://*/EfModel.csdl|res://*/EfModel.ssdl|res://*/EfModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mcrlojcb0r.database.windows.net,1433;initial catalog=traintimetable_db;user id=Dr.Norton;password=Rianon1990;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>