<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'TrainTimeTable' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>cfebc9b5-da1e-44db-81b0-76c2d0d6f9bf</InstrumentationKey>
</ApplicationInsights>